.webshopBtn {
  background: none;
  width: 150px;
  height: 40px;
  border-image: linear-gradient(45deg, turquoise, greenyellow) 1;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.1rem;
  cursor: pointer;
  &.bottom {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 80px;
    font-size: 2.2rem;
  }
  a {
    text-decoration: none;
    color: white;
    width: 100%;
  }
}

.btn {
  background: none;
  width: 150px;
  height: 40px;
  border-image: linear-gradient(45deg, turquoise, greenyellow) 1;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.1rem;
  cursor: pointer;
  &.buy {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 10px;
  }
  &.hide {
    border-image: linear-gradient(45deg, rgb(255, 0, 0), rgb(99, 53, 53)) 1;
    width: 40px;
    margin-left: 25px;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 992px) {
  .webshopBtn {
    &.bottom {
      width: 150px;
      height: 40px;
      font-size: 1.3rem;
      position: relative;
      bottom: 0;
      margin-top: 5px;
    }
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .webshopBtn {
    &.bottom {
      width: 200px;
      height: 50px;
      font-size: 1.5rem;
      position: relative;
      bottom: 0;
      margin-top: 5px;
    }
  }
}
